In [22]:
# 데이터베이스 연결
import sqlalchemy
import configparser

### psycopg2 install 에러 핸들링
#### env LDFLAGS="-I/usr/local/opt/openssl/include -L/usr/local/opt/openssl/lib" pip --no-cache install psycopg2
import psycopg2

config = configparser.ConfigParser()
config.read('../config.ini')

user = config['REDSHIFT']['USER']
password = config['REDSHIFT']['PASSWORD']

sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
  user=user,
  password=password
)

sqlalchemy.create_engine(sql_conn_str)

%load_ext sql
%sql $sql_conn_str

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [24]:
%%sql
-- 데이터베이스 연결 테스트
SELECT * FROM raw_data.session_timestamp LIMIT 10

 * postgresql://leemingyu05:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('94f192dee566b018e0acf31e1f99a2d9', datetime.datetime(2019, 5, 1, 0, 49, 46, 73000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('f1daf122cde863010844459363cd31db', datetime.datetime(2019, 5, 1, 13, 10, 56, 413000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('8804f94e16ba5b680e239a554a08f7d2', datetime.datetime(2019, 5, 1, 14, 23, 7, 660000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('d5fcc35c94879a4afad61cacca56192c', datetime.datetime(2019, 5, 1, 15, 13, 16, 140000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('c17028c9b6e0c5deaad29665d582284a', datetime.datetime(2019, 5, 1, 15, 59, 57, 490000))]

### 실습 과제 1
#### 오늘 살펴본 SQL 실습 및 요약
```sql
-- DDL: CREATE
-- 테이블 생성
create table ADHOC.MINGYU_CHANNEL
(
    CHANNEL VARCHAR(32) primary key
);

-- DML: INSERT
-- 데이터 입력
insert into ADHOC.MINGYU_CHANNEL
values ('FACEBOOK')
     , ('GOOGLE');

-- DDL: DROP
-- 테이블 삭제
drop table ADHOC.MINGYU_CHANNEL;

-- CTAS 기법
-- 셀렉트 조회 내용 스키마대로 TABLE을 만들며 셀렉트 내용을 입력
create table ADHOC.MINGYU_CHANNEL as
select distinct
    CHANNEL
from RAW_DATA.USER_SESSION_CHANNEL
;

-- DDL: 테이블 수정
-- MINGYU_CHANNEL 테이블의 CHANNEL 컬럼 이름을 CHANNELNAME으로 변경
alter table ADHOC.MINGYU_CHANNEL
    rename CHANNEL to CHANNELNAME;

-- TIKTOK 채널 데이터 추가
insert into ADHOC.MINGYU_CHANNEL values ('TIKTOK');

-- Google 또는 Facebook 채널로 접속한 사용자 세션수 조회
select
    COUNT(1)
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL in ('Google', 'Facebook');

-- 대소문자 구분 없는 Google 또는 Facebook 채널로 접속한 사용자 세션수 조회
select
    COUNT(1)
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL ilike 'Google'
   or CHANNEL like 'Facebook';

-- 대소문자 구분 없이 o가 포함된 채널 종류 구하기
select distinct
    CHANNEL
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL ilike '%o%';

-- 대소문자 구분 없이 o가 포함되지 않은 채널 종류 구하기
select distinct
    CHANNEL
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL not ilike '%o%';

-- 채널이름 관련 String 함수 처리
-- LEN: 문자열 길이 조회
-- UPPER: 대문자로 변환
-- LOWER: 소문자로 변환
-- LEFT(str, N): 문자열 왼쪽부터 N개를 잘라 반환
-- REPLACE(str, expr1, expr2): 문자열의 expr1 부분을 expr2로 변환
select
    LEN(CHANNELNAME)
  , UPPER(CHANNELNAME)
  , LOWER(CHANNELNAME)
  , LEFT(CHANNELNAME, 4)
  , REPLACE(UPPER(LEFT(CHANNELNAME, 4)), 'OO', 'XX')
from ADHOC.MINGYU_CHANNEL
;

-- 세션이 가장 많이 생기는 시간대 구하기
select
    EXTRACT(hour from TS)
  , count(1) as HOUR_COUNT
from RAW_DATA.SESSION_TIMESTAMP
group by 1
order by 2 desc
limit 1
;

-- 사용자가 가장 많이 생기는 시간대 구하기
select
    EXTRACT(hour from ST.TS)
  , COUNT(distinct (USC.USERID))
from RAW_DATA.USER_SESSION_CHANNEL   USC
     join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
group by 1
order by 2 desc
limit 1;

-- 세션이 가장 많이 생기는 요일 구하기
select
    EXTRACT(dow from TS)
  , count(1) as DOW_COUNT
from RAW_DATA.SESSION_TIMESTAMP
group by 1
order by 2 desc
limit 1
;

-- raw_data.channel 채널별 사용자수 세기
select
    CHANNELNAME
  , count(distinct (USERID)) as USER_COUNT_PER_CHANNEL
from RAW_DATA.CHANNEL                        CA
     left join RAW_DATA.USER_SESSION_CHANNEL USC on CA.CHANNELNAME = USC.CHANNEL
group by 1

-- 251번 사용자의 처음 채널과 마지막 채널 알아내기
-- 정답: Facebook 첫번째, Google 마지막
select
    USERID
  , ROW_NUMBER() over (partition by USERID order by ST.TS) as R
  , MAX() over (partition by USERID order by ST.TS) as MAX_R
from RAW_DATA.USER_SESSION_CHANNEL         USC
     inner join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
where USERID = 251
;
```

## 실습 과제 2
### Gross Revenue 가장 큰 UserID 10개 찾기
* refund 포함

In [25]:
%%sql
select
    USERID
  , TOTAL_REVENUE
from (
     select
         USERID
       , SUM(case when REFUNDED is true then AMOUNT * -1 else AMOUNT end) as TOTAL_REVENUE
     from RAW_DATA.SESSION_TRANSACTION       ST
          join RAW_DATA.USER_SESSION_CHANNEL USC on USC.SESSIONID = ST.SESSIONID
     group by 1
     ) TOP_USER_REVENUE
order by 2 desc
limit 10

 * postgresql://leemingyu05:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (2682, 414),
 (891, 412),
 (1085, 411)]

## 실습과제 3
### 채널별 월 매출액 테이블 만들기
- session_timestamp, user_session_channel, channel, transaction 테이블 사용
- channel에 있는 모든 채널에 대해 구성해야함 (값이 없는 경우라도)
- 아래와 같은 필드로 구성
    - month, channel
    - uniqueUsers (총방문 사용자)
    - paidUsers (구매 사용자)
    - conversionRate(구매사용자 / 총방문 사용자)
    - grossRevenue (refund 포함)
    - netRevenue (refund 제외)

In [28]:
%%sql
-- 채널별 월별 매출액 데이터 구하기
    select
        C.CHANNELNAME
      , LEFT(ST.TS, 7)                                                            as YEAR_MONTH
      , count(distinct USERID)                                                    as UNIQUE_USERS
      , sum(case when AMOUNT is not null and REFUNDED is false then 1 else 0 end) as PAID_USERS
      , sum(case when AMOUNT is not null and REFUNDED is false then 1 else 0 end) as CONVERSION_RATE
      , SUM(case when REFUNDED is true then AMOUNT * -1 else AMOUNT end)          as GROSS_REVENUE
      , SUM(case when REFUNDED is false then AMOUNT else 0 end)                   as NET_REVENUE
    from RAW_DATA.CHANNEL                        C
         left join RAW_DATA.USER_SESSION_CHANNEL USC on C.CHANNELNAME = USC.CHANNEL
         left join RAW_DATA.SESSION_TRANSACTION  STR on USC.SESSIONID = STR.SESSIONID
         left join RAW_DATA.SESSION_TIMESTAMP    ST on USC.SESSIONID = ST.SESSIONID
    group by 1, 2
    order by 1, 2
;

-- 매출액이 없는 채널의 경우 월별로 데이터가 생기지 않으므로 채널별, 월별 조회문과 조인
select
    CHANNEL_MONTHS.YEAR_MONTH
  , CHANNEL_MONTHS.CHANNELNAME
  , NVL(UNIQUE_USERS, 0)    as UNIQUE_USERS
  , NVL(PAID_USERS, 0)      as PAID_USERS
  , NVL(CONVERSION_RATE, 0) as CONVERSION_RATE
  , NVL(GROSS_REVENUE, 0)   as GROSS_REVENUE
  , NVL(NET_REVENUE, 0)     as NET_REVENUE
from (
     select
         CHANNELNAME
       , YEAR_MONTH
     from (
          select distinct
              CHANNELNAME
          from RAW_DATA.CHANNEL
          )     C
          cross join
              (
              select distinct
                  LEFT(TS, 7) as YEAR_MONTH
              from RAW_DATA.SESSION_TIMESTAMP
              ) MONTHS
     )     CHANNEL_MONTHS
     left join
         (
         select
             C.CHANNELNAME
           , LEFT(ST.TS, 7)                                                            as YEAR_MONTH
           , count(distinct USERID)                                                    as UNIQUE_USERS
           , sum(case when AMOUNT is not null and REFUNDED is false then 1 else 0 end) as PAID_USERS
           , sum(case when AMOUNT is not null and REFUNDED is false then 1 else 0 end) as CONVERSION_RATE
           , SUM(case when REFUNDED is true then AMOUNT * -1 else AMOUNT end)          as GROSS_REVENUE
           , SUM(case when REFUNDED is false then AMOUNT else 0 end)                   as NET_REVENUE
         from RAW_DATA.CHANNEL                        C
              left join RAW_DATA.USER_SESSION_CHANNEL USC on C.CHANNELNAME = USC.CHANNEL
              left join RAW_DATA.SESSION_TRANSACTION  STR on USC.SESSIONID = STR.SESSIONID
              left join RAW_DATA.SESSION_TIMESTAMP    ST on USC.SESSIONID = ST.SESSIONID
         group by 1, 2
         order by 1, 2
         ) DATAS
         on CHANNEL_MONTHS.CHANNELNAME = DATAS.CHANNELNAME
             and CHANNEL_MONTHS.YEAR_MONTH = DATAS.YEAR_MONTH
order by 1, 2
;

-- DB툴에서 진행했던 내용 때문에 CTAS문에서 이미 존재하는 테이블 에러가 나므로 테이블이 있을 경우 DROP
drop table if exists ADHOC.MINGYU_MONTHLY_REVENUE_CHANNEL;

-- 위의 조회문을 CTAS 문으로 월별 채널별 매출액 테이블 생성
create table ADHOC.MINGYU_MONTHLY_REVENUE_CHANNEL as
select
    CHANNEL_MONTHS.YEAR_MONTH
  , CHANNEL_MONTHS.CHANNELNAME
  , NVL(UNIQUE_USERS, 0)    as UNIQUE_USERS
  , NVL(PAID_USERS, 0)      as PAID_USERS
  , NVL(CONVERSION_RATE, 0) as CONVERSION_RATE
  , NVL(GROSS_REVENUE, 0)   as GROSS_REVENUE
  , NVL(NET_REVENUE, 0)     as NET_REVENUE
from (
     select
         CHANNELNAME
       , YEAR_MONTH
     from (
          select distinct
              CHANNELNAME
          from RAW_DATA.CHANNEL
          )     C
          cross join
              (
              select distinct
                  LEFT(TS, 7) as YEAR_MONTH
              from RAW_DATA.SESSION_TIMESTAMP
              ) MONTHS
     )     CHANNEL_MONTHS
     left join
         (
         select
             C.CHANNELNAME
           , LEFT(ST.TS, 7)                                                            as YEAR_MONTH
           , count(distinct USERID)                                                    as UNIQUE_USERS
           , sum(case when AMOUNT is not null and REFUNDED is false then 1 else 0 end) as PAID_USERS
           , sum(case when AMOUNT is not null and REFUNDED is false then 1 else 0 end) as CONVERSION_RATE
           , SUM(case when REFUNDED is true then AMOUNT * -1 else AMOUNT end)          as GROSS_REVENUE
           , SUM(case when REFUNDED is false then AMOUNT else 0 end)                   as NET_REVENUE
         from RAW_DATA.CHANNEL                        C
              left join RAW_DATA.USER_SESSION_CHANNEL USC on C.CHANNELNAME = USC.CHANNEL
              left join RAW_DATA.SESSION_TRANSACTION  STR on USC.SESSIONID = STR.SESSIONID
              left join RAW_DATA.SESSION_TIMESTAMP    ST on USC.SESSIONID = ST.SESSIONID
         group by 1, 2
         order by 1, 2
         ) DATAS
         on CHANNEL_MONTHS.CHANNELNAME = DATAS.CHANNELNAME
             and CHANNEL_MONTHS.YEAR_MONTH = DATAS.YEAR_MONTH
order by 1, 2
;

-- 생성된 테이블 데이터 확인
select * from ADHOC.MINGYU_MONTHLY_REVENUE_CHANNEL;

 * postgresql://leemingyu05:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
43 rows affected.
49 rows affected.
Done.
Done.
49 rows affected.

[('2019-05', 'Google', 253, 10, 10, 580, 580),
 ('2019-05', 'Naver', 237, 10, 10, 821, 844),
 ('2019-05', 'TIKTOK', 0, 0, 0, 0, 0),
 ('2019-06', 'Facebook', 414, 22, 22, 1578, 1578),
 ('2019-06', 'Instagram', 410, 20, 20, 1374, 1418),
 ('2019-06', 'Organic', 416, 12, 12, 751, 940),
 ('2019-06', 'Youtube', 400, 17, 17, 1042, 1042),
 ('2019-07', 'Google', 556, 19, 19, 1212, 1385),
 ('2019-07', 'Naver', 553, 19, 19, 1547, 1547),
 ('2019-07', 'TIKTOK', 0, 0, 0, 0, 0),
 ('2019-08', 'Facebook', 611, 19, 19, 1009, 1009),
 ('2019-08', 'Instagram', 621, 27, 27, 1873, 2001),
 ('2019-08', 'Organic', 608, 26, 26, 1569, 1606),
 ('2019-08', 'Youtube', 614, 16, 16, 913, 950),
 ('2019-09', 'Facebook', 597, 29, 29, 2270, 2270),
 ('2019-09', 'Instagram', 588, 18, 18, 984, 1122),
 ('2019-09', 'Organic', 592, 23, 23, 1267, 1267),
 ('2019-09', 'Youtube', 588, 16, 16, 1301, 1301),
 ('2019-10', 'Google', 699, 30, 30, 2046, 2098),
 ('2019-10', 'Naver', 713, 33, 33, 2695, 2695),
 ('2019-10', 'TIKTOK', 0, 0, 0, 0, 0),
 ('2019-11', 'Google', 688, 25, 25, 2184, 2235),
 ('2019-11', 'Naver', 667, 23, 23, 1740, 1987),
 ('2019-11', 'TIKTOK', 0, 0, 0, 0, 0),
 ('2019-05', 'Facebook', 247, 11, 11, 795, 997),
 ('2019-05', 'Instagram', 234, 9, 9, 581, 770),
 ('2019-05', 'Organic', 238, 16, 16, 1296, 1571),
 ('2019-05', 'Youtube', 244, 10, 10, 529, 529),
 ('2019-06', 'Google', 412, 13, 13, 947, 947),
 ('2019-06', 'Naver', 398, 16, 16, 1090, 1090),
 ('2019-06', 'TIKTOK', 0, 0, 0, 0, 0),
 ('2019-07', 'Facebook', 558, 31, 31, 2066, 2144),
 ('2019-07', 'Instagram', 567, 24, 24, 1636, 1766),
 ('2019-07', 'Organic', 557, 24, 24, 1600, 1600),
 ('2019-07', 'Youtube', 564, 34, 34, 1864, 2037),
 ('2019-08', 'Google', 610, 24, 24, 1578, 1894),
 ('2019-08', 'Naver', 626, 19, 19, 1273, 1551),
 ('2019-08', 'TIKTOK', 0, 0, 0, 0, 0),
 ('2019-09', 'Google', 599, 23, 23, 1510, 1691),
 ('2019-09', 'Naver', 592, 21, 21, 1996, 1996),
 ('2019-09', 'TIKTOK', 0, 0, 0, 0, 0),
 ('2019-10', 'Facebook', 698, 28, 28, 1632, 1641),
 ('2019-10', 'Instagram', 707, 33, 33, 2222, 2395),
 ('2019-10', 'Organic', 709, 30, 30, 2454, 2608),
 ('2019-10', 'Youtube', 705, 33, 33, 2146, 2319),
 ('2019-11', 'Facebook', 688, 26, 26, 1678, 1678),
 ('2019-11', 'Instagram', 669, 26, 26, 2116, 2116),
 ('2019-11', 'Organic', 677, 31, 31, 1884, 2255),
 ('2019-11', 'Youtube', 677, 46, 46, 3130, 3331)]