In [6]:
# 데이터베이스 연결
import sqlalchemy
import configparser

### psycopg2 install 에러 핸들링
#### env LDFLAGS="-I/usr/local/opt/openssl/include -L/usr/local/opt/openssl/lib" pip --no-cache install psycopg2
import psycopg2

config = configparser.ConfigParser()
config.read('../config.ini')

user = config['REDSHIFT']['USER']
password = config['REDSHIFT']['PASSWORD']

sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
  user=user,
  password=password
)

sqlalchemy.create_engine(sql_conn_str)

%load_ext sql
%sql $sql_conn_str

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
%%sql
-- 데이터베이스 연결 테스트
SELECT * FROM raw_data.session_timestamp LIMIT 10

 * postgresql://leemingyu05:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('94f192dee566b018e0acf31e1f99a2d9', datetime.datetime(2019, 5, 1, 0, 49, 46, 73000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('f1daf122cde863010844459363cd31db', datetime.datetime(2019, 5, 1, 13, 10, 56, 413000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('8804f94e16ba5b680e239a554a08f7d2', datetime.datetime(2019, 5, 1, 14, 23, 7, 660000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('d5fcc35c94879a4afad61cacca56192c', datetime.datetime(2019, 5, 1, 15, 13, 16, 140000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('c17028c9b6e0c5deaad29665d582284a', datetime.datetime(2019, 5, 1, 15, 59, 57, 490000))]

### 실습 과제 1
#### 오늘 살펴본 SQL 실습 및 요약
```sql
-- DDL: CREATE
-- 테이블 생성
create table ADHOC.MINGYU_CHANNEL
(
    CHANNEL VARCHAR(32) primary key
);

-- DML: INSERT
-- 데이터 입력
insert into ADHOC.MINGYU_CHANNEL
values ('FACEBOOK')
     , ('GOOGLE');

-- DDL: DROP
-- 테이블 삭제
drop table ADHOC.MINGYU_CHANNEL;

-- CTAS 기법
-- 셀렉트 조회 내용 스키마대로 TABLE을 만들며 셀렉트 내용을 입력
create table ADHOC.MINGYU_CHANNEL as
select distinct
    CHANNEL
from RAW_DATA.USER_SESSION_CHANNEL
;

-- DDL: 테이블 수정
-- MINGYU_CHANNEL 테이블의 CHANNEL 컬럼 이름을 CHANNELNAME으로 변경
alter table ADHOC.MINGYU_CHANNEL
    rename CHANNEL to CHANNELNAME;

-- TIKTOK 채널 데이터 추가
insert into ADHOC.MINGYU_CHANNEL values ('TIKTOK');

-- Google 또는 Facebook 채널로 접속한 사용자 세션수 조회
select
    COUNT(1)
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL in ('Google', 'Facebook');

-- 대소문자 구분 없는 Google 또는 Facebook 채널로 접속한 사용자 세션수 조회
select
    COUNT(1)
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL ilike 'Google'
   or CHANNEL like 'Facebook';

-- 대소문자 구분 없이 o가 포함된 채널 종류 구하기
select distinct
    CHANNEL
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL ilike '%o%';

-- 대소문자 구분 없이 o가 포함되지 않은 채널 종류 구하기
select distinct
    CHANNEL
from RAW_DATA.USER_SESSION_CHANNEL
where CHANNEL not ilike '%o%';

-- 채널이름 관련 String 함수 처리
-- LEN: 문자열 길이 조회
-- UPPER: 대문자로 변환
-- LOWER: 소문자로 변환
-- LEFT(str, N): 문자열 왼쪽부터 N개를 잘라 반환
-- REPLACE(str, expr1, expr2): 문자열의 expr1 부분을 expr2로 변환
select
    LEN(CHANNELNAME)
  , UPPER(CHANNELNAME)
  , LOWER(CHANNELNAME)
  , LEFT(CHANNELNAME, 4)
  , REPLACE(UPPER(LEFT(CHANNELNAME, 4)), 'OO', 'XX')
from ADHOC.MINGYU_CHANNEL
;

-- 세션이 가장 많이 생기는 시간대 구하기
select
    EXTRACT(hour from TS)
  , count(1) as HOUR_COUNT
from RAW_DATA.SESSION_TIMESTAMP
group by 1
order by 2 desc
limit 1
;

-- 사용자가 가장 많이 생기는 시간대 구하기
select
    EXTRACT(hour from ST.TS)
  , COUNT(distinct (USC.USERID))
from RAW_DATA.USER_SESSION_CHANNEL   USC
     join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
group by 1
order by 2 desc
limit 1;

-- 세션이 가장 많이 생기는 요일 구하기
select
    EXTRACT(dow from TS)
  , count(1) as DOW_COUNT
from RAW_DATA.SESSION_TIMESTAMP
group by 1
order by 2 desc
limit 1
;

-- raw_data.channel 채널별 사용자수 세기
select
    CHANNELNAME
  , count(distinct (USERID)) as USER_COUNT_PER_CHANNEL
from RAW_DATA.CHANNEL                        CA
     left join RAW_DATA.USER_SESSION_CHANNEL USC on CA.CHANNELNAME = USC.CHANNEL
group by 1

-- 251번 사용자의 처음 채널과 마지막 채널 알아내기
-- 정답: Facebook 첫번째, Google 마지막
select
    USERID
  , ROW_NUMBER() over (partition by USERID order by ST.TS) as R
  , MAX() over (partition by USERID order by ST.TS) as MAX_R
from RAW_DATA.USER_SESSION_CHANNEL         USC
     inner join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
where USERID = 251
;
```

## 실습 과제 2
### Gross Revenue 가장 큰 UserID 10개 찾기
* refund 포함

In [8]:
%%sql
select
    USERID
  , TOTAL_REVENUE
from (
     select
         USERID
       , SUM(case when REFUNDED is true then AMOUNT * -1 else AMOUNT end) as TOTAL_REVENUE
     from RAW_DATA.SESSION_TRANSACTION       ST
          join RAW_DATA.USER_SESSION_CHANNEL USC on USC.SESSIONID = ST.SESSIONID
     group by 1
     ) TOP_USER_REVENUE
order by 2 desc
limit 10

 * postgresql://leemingyu05:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (2682, 414),
 (891, 412),
 (1085, 411)]