In [3]:
# 데이터베이스 연결
import sqlalchemy
import configparser

### psycopg2 install 에러 핸들링
#### env LDFLAGS="-I/usr/local/opt/openssl/include -L/usr/local/opt/openssl/lib" pip --no-cache install psycopg2
import psycopg2

config = configparser.ConfigParser()
config.read('../../config.ini')

user = config['REDSHIFT']['USER']
password = config['REDSHIFT']['PASSWORD']

sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
  user=user,
  password=password
)

sqlalchemy.create_engine(sql_conn_str)

%load_ext sql
%sql $sql_conn_str

In [4]:
%%sql
with USER_VISIT_FIRST_MONTH as (
           select
               USERID
             , TO_CHAR(MIN(TS::DATE), 'YYYYMM') as FIRST_VISIT_MONTH
           from RAW_DATA.USER_SESSION_CHANNEL   USC
                join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
           group by 1
           )
   , DATA as (
             select
                 UVFM.USERID
               , UVFM.FIRST_VISIT_MONTH
               , TO_CHAR(TS::DATE, 'YYYYMM') - UVFM.FIRST_VISIT_MONTH as MONTHS_SINCE_FIRST_VISIT
             from USER_VISIT_FIRST_MONTH UVFM
                  join (
                       select *
                       from RAW_DATA.USER_SESSION_CHANNEL   USC
                            join RAW_DATA.SESSION_TIMESTAMP ST on USC.SESSIONID = ST.SESSIONID
                       )                 UST
                       using (USERID)
             )
select
    TO_CHAR(TO_DATE(FIRST_VISIT_MONTH, 'YYYYMM'), 'YYYY-MM')                as COHORT_MONTH
  , count(distinct USERID)                                                  as MONTH_1
  , count(distinct case when MONTHS_SINCE_FIRST_VISIT >= 1 then USERID end) as MONTH_2
  , count(distinct case when MONTHS_SINCE_FIRST_VISIT >= 2 then USERID end) as MONTH_3
  , count(distinct case when MONTHS_SINCE_FIRST_VISIT >= 3 then USERID end) as MONTH_4
from DATA
group by 1
order by 1
;

 * postgresql://leemingyu05:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 281, 265, 247, 234),
 ('2019-06', 197, 175, 162, 153),
 ('2019-07', 211, 192, 180, 170),
 ('2019-08', 84, 74, 72, 69),
 ('2019-09', 17, 14, 13, 0),
 ('2019-10', 150, 124, 0, 0),
 ('2019-11', 9, 0, 0, 0)]